*
    margin: 0
    padding: 0
    border: none 
    outline: none
    transition: .1s
body
    background: #00ff7f
@import ./components/header
@import ./components/menu
@import ./components/reproductor
