@use "./player-tools/Theme" as *

#reproductor 
    display: block 
    .disk
        width: 300px
        height: 300px
        margin: 100px auto 5px auto
        background: url('/icons/media-random-albums-amarok.svg')
        border-radius: 50%

    .barra
        position: absolute 
        bottom: 0
        width: 100%
        .titulo
            background: $titleBackground
            padding: 4px
            color: $titleColor
            text-align: center
            font-family: Roboto
                    
        .tools
            overflow: hidden
            width: 100%
            height: 60px
            background: $toolsBackground
            &.open 
                height: 180px

            @import ./player-tools/basic

.volume 

    position: absolute
    display: flex
    justify-content: center
    align-items: center
    width: 0
    height: 33%
    background: #181c18
    right: 2px
    top: 33%
    border-radius: 9px
    overflow: hidden


    input[type='range'] 
        //-webkit-appearance: none !important
        border-radius: 25px
        background: #719671
        height: 7px
        position: absolute
        width: 27vh
        transform: rotate(-90deg)
            

    input[type='range']::-webkit-slider-thumb 
        -webkit-appearance: none !important
        border-radius: 50%
        background: #00ff7f
        height: 12px
        width: 12px
